.tile {
  border: 0.1rem solid #3A3A3D;
  display: flex;
  flex-grow: 1;
  margin: 0 0.2rem;
}

.text {
  align-items: center;
  color: #D8DADC;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}